<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138493900131-2l4gkn110h2f99aastboi5o8h3tpdcob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138493900131-2l4gkn110h2f99aastboi5o8h3tpdcob</string>
	<key>API_KEY</key>
	<string>AIzaSyC9dfopNnIF3ibXC7d4AeAD-gHo7Wd9N7I</string>
	<key>GCM_SENDER_ID</key>
	<string>138493900131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luke.emsprotocols</string>
	<key>PROJECT_ID</key>
	<string>ems-protocols-432c3</string>
	<key>STORAGE_BUCKET</key>
	<string>ems-protocols-432c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138493900131:ios:e1f36a4d899e5f594b8f56</string>
</dict>
</plist>